# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

# Kotlin/IntelliJ
.idea/
*.iml
*.iws
.kotlin

# Wrapper (Do NOT ignore the jar, it is needed for bootstrapping)
!gradle/wrapper/gradle-wrapper.jar

# Day 11 graphviz output
*.svg